/venv/
/.pytest_cache/
/python_exercises/__init__.py
/python_exercises/__pycache__/
/python_exercises/.pytest_cache__/
/tests/__init__.py
/tests/__pycache__/
/tests/.pytest_cache__/
/python_exercises/.coverage
/tests/.coverage
